<h2>Productos</h2>
<div class="product-list">
  {{#each products}}
    <div class="productItem">
      <h3>{{this.title}}</h3>
      <img src={{this.price}} alt="">
      <p>{{this.description}}</p>
      <p>{{this.stock}}</p>
    </div>
  {{/each}}
</div>
